:root {
  --background: #ffffff;
  --foreground: #0a0132;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0132;
    --foreground: #ededed;
  }
}

.container{
  justify-content: center;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  
}

html,
body {
  max-width: auto;
  overflow-x: hidden;
  text-align: center;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #c100be;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 480px){
  body{
    font-size: 14px;
  }
}

ul{
  list-style-position: inside;
}

.card{
  display: inline-block;
  width:70%;
  margin: 5px;
  color: white;
  box-shadow: 0 4px 8px 0 #695ba4;
}

.card:hover{
  box-shadow: 0 8px 16px 0 #a397d6;
}