.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #a397d6;
}

.react-tabs__tab--selected {
  background: #a397d6;
  border-color: #695ba4;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #695ba4;
  margin: 0 0 10px;
  padding: 0;
}
.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}